/* 
    Created on : 29 de jun. de 2023, 13:40:09
    Author     : Usuário
*/

body{
    margin: 10px;
    padding: 0;
    background-color: aliceblue;
}

.ui-button{
    margin-left: 5px;
    margin-right: 5px;
}

.linkMenu{
    color: #C71585;
    /*border-bottom: 1px solid !important; */
}

