/* 
    Created on : 29 de jun. de 2023, 13:40:09
    Author     : Usuário
*/

body{
    margin: 10px;
    padding: 0;
    background-color: aliceblue;
}

.linkMenu{
    color: #00E !important;
    border-bottom: 1px solid !important;
}